[html]
directory = simple_event_bus_test_coverage_report
title = simple_event_bus_frog_coverage_report

[run]
source = simple_event_bus
concurrency = multiprocessing

[report]
omit =
    *\_version.py
    */_version.py
    *pb2.py
    *pb2_grpc.py

exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if conf.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

fail_under = 80
# coverage run --source grpc_frog -m pytest & coverage combine  & coverage report